* {
  margin: 0;
  padding: 0;
}

#nav {
  height: 70px;
  }
#nav ul {
  list-style: none;
}


  #nav > ul > li {
  float: left;
  width: 180px;
  position: relative;
}
/* "#nav > ul > li" - с помощью знака > мы обращаемся к пунктам списка, который непосредственно вложены в ul, а тот непосредственно вложен в nav.
Это очень важно, так как позволяет не применить стиль к пунктам вложенных списков.*/


#nav li a{
 display: block;
 background: #90DA93;
 border: 1px solid #060A13;
 color: #060A13;
 padding: 8px;
 text-align: center;
 text-decoration: none;
}
#nav li a:hover {
 background: #2F718E;
}

/* Сами ссылки нужно сделать блочными. Это необходимо для того, чтобы работали внутренние отступы и корректно применялись все свойства.
 Далее указываю цвета фона, текста, параметры рамки, внутренние отступы и выравнивание текста по центру. Наконец, отменяю подчеркивание ссылок.*/

/*  В данном случае мы не использовали знак >, поэтому указанные правила применятся ко всем ссылкам,
в том числе и тем, что находятся во вложенных пунктах.*/

#nav li .second {
  display: none;
  position: absolute;
  top: 100%;
}

/*Во-первых, скрываем полностью вложенные списки. Во-вторых, задаем им абсолютное позиционирование и координату top: 100%.
Это означает, что выпадающее меню будет отображаться четко под основным пунктом, которому принадлежит, четко под 100% высоты этого пункта.*/
#nav li:hover .second {
  display: block;
}
/* При наведении на пункт основного меню, вложенный список будет становиться видимым. */



#nav li li{
 width: 180px;
}
/* Задаём ширину, что бы выпадающий список соответствовал основному.
