.wrapper {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 11px;
}

.input {
    padding: 4px 6px;
    border-radius: 5px;
    border: none;
    outline: none;
}

.button {
    display: inline-block;
    margin: 0;
    margin-left: 9px;
    padding: 4px 13px;
    border: none;
    border-radius: 5px;
}

