*{
    font-family: 'Roboto', sans-serif;
}

header {
    position: relative;
}

nav {
    position: fixed;
    width: 100%;
    height: 50px;                 /* Копируем высоту и цвет шапки из макета */
    background-color: #212121;
    
}

/* Меню в шапке и слева и справа немного заходит на колонку сетки, меряем вручную расстояние до края сетки (в марси).
И устанавляваем боковые паддинги в блоке nav или для самого списка с классом ".menu".  */

.menu {
    display: flex;   /* Задавая флекс род. элементу "ul", делаем все "li" в строку и выравниваем. */
    justify-content: space-between;
    padding: 10px 70px; /* Так же в макете отступ сверху 10рх - видно,если мерять от разделительной черточки. */
    margin: 0;  /* БТ по умолчанию устанавливает правила для списков - margin-bottom 1em. Убираем его. */
    list-style: none; /* Убираем кругляшки у списка. Так можно делать только с ul списками. */
    /* line-height: 38px; */  /* С помощью "line-height" можно регулировать высоту строки, если ссылки из списка вдруг стали не по центру. */ 
}


.menu .menu_link {            /*  Стилизуем сами ссылки. */
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
}  

.menu .menu_item {                    /* Делаем разделительные линии у элементов нав. меню. */
    border-right: 2px dotted black; /* Для этого задаём правую границу, пунктирную, чёрного цвета. */
    padding-right: 28px; /*Внутр.отступ,что бы отодвинуть правую границу на расстояние как в макете.(линейкой в марси).*/

}

.subheader {
    top: 50px;
    height: 84px;
    /* opacity: 0.6; */  /* В макете стоит стиль прозрачность всего блока с содержимым, а нужен только прозрачный фон. */
    background-color: rgba(0,0,0,0.6); /* Делаем прозрачным только фон. */
    position: absolute; /* Что бы секцию "promo" задвинуть наверх,делаем сабхеду позицию абсолют. И тогда он "выбивается" из верстки. */
    width: 100%; /* Задаём сабхеду 100% от родителя, что бы корректно отображался, иначе всё смещается вправо. */
    
}

.subheader .subheader_logo {
    display: block;               /* Ссылка - строчный элемент. Что бы подействовал отступ сверху, делаем её блоком. */
    margin-top: 16px;
    max-width: 100%;              /* Ставим макс ширину в 100% от колонки, что бы если что в будующем сминить логотип. */
}

.subheader .subheader_official {   /* Стилизуем текст лого. */
    margin-top: 6px;
    font-size: 13px;
    font-weight: 100;
    color: #ffffff;
    opacity: 0.5;
}

.subheader .subheader_call {        /* Стилизуем текст перед тел.номером. */
    margin-top: 19px;
    font-size: 12px;
    font-weight: 300;
    color: #ffffff;
    text-align: right;              /* Центрируем по правому краю, как в макете */
}

.subheader .subheader_phone {       /*  Стилизуем сам номер. */
    margin-top: 8px;
    display: block;                 /*  Делаем ссылку-номер блоком */
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    text-align: right;               /* Центрируем по правому краю, как в макете */
    line-height: 12px             /*  Если элемент занимает пространство больше, чем контент в нём и из за этого отодвигается по вертикали, то высоту расположения можно менять с помощью "line-height". */
}

.subheader .subheader_btn {  
    margin-top: 19px;
    margin-left: 32px;
    width: 178px;
    height: 52px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    /* border: 3px solid rgba(0,0,0,0.06); */ /* В макете указана граница, но с ней выглядит плохо. */
    border: none;
    border-radius: 4px;         /* Скругляем углы кнопки. В макете в стиле не указанно, но визуально видно. */
    box-shadow: inset 0px -3px 0px 0px rgba(0,0,0,0.11);

    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
}

.promo {
    min-height: 800px;
    background: url('../img/bg/main_bg.jpg') center center/cover no-repeat;
    padding: 161px 0 135px 0; /* Верхний отступ задаём от нав.меню, а не от сабхеда, т.к. секция "наедет" на сабхед. */
}

.promo .promo_header {
    margin: 0;    /* Сбрасываем отступы БТ, которые стоят по умолчанию. Зачастую они нужны, но сейчас нет. */
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 60px;            /*  Регулируем высоту строки. */
   
}

.promo .promo_subheader {
    margin: 0;   /* Сбрасываем отступы БТ, которые стоят по умолчанию. Зачастую они нужны, но сейчас нет. */
    margin-top: 22px; /* В макете отступ между заголовками не виден, меряем линейкой (в марси). */
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    line-height: 36px;

}

.promo .promo_descr {    
    margin-top: 23px;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
}

.promo .promo_btn {
    display: block;          /* Что бы поставить по центру, не забываем делать блоком. */
    margin: 0 auto;
    margin-top: 118px;
    width: 265px;
    height: 69px;
    background-image: linear-gradient(0.0deg, #1eacc7 0%, #4ce2ff 100%);
    /* border: 3px solid rgba(0,0,0,0.06); */
    border: none;
    border-radius: 4px;
    box-shadow: inset 0px -4px 0px 0px rgba(0,0,0,0.11);

    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
    color: #ffffff;
}

.reason {
    min-height: 900px;
    padding: 71px 0 65px 0;
    
}
    .label {
    padding: 5px 12px;
    margin: 0 auto;
    width: 112px;
    height: 24px;
    background-color: #000000;
    font-size: 11px;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    }

    .reason .title {
    margin: 0;
    margin-top: 38px;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    color: #222222;
    text-align: center;
    }

   .reason .reason_item {
    margin-top: 40px;
    height: 142px;
    display: flex;
    justify-content:center;
    align-items:center;

   }

   /* .reason .reason_item.col_2{
   } */

   .reason .reason_item .reason_round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 113px;
    height: 113px;
    background-color: #1eacc7;
    border-radius: 100%;
    margin-right: 26px;
   }
   .reason .reason_item .reason_round .reason_icon {
    display: block;

   }

   .reason .reason_item .reason_descr {
    /* margin-left: 26px; */
    width: 341px;
    font-size: 15px;
    font-weight: 300;
    line-height: 21px;
    color: #202020;
    text-align: justify;
   }

   .reason .reason_item .reason_descr span {
    font-size: 17px;
    line-height: 21px;
    font-weight: 400;
    color: #1eacc7;
   }


 