
.fade {
    animation-name: fade;
    animation-duration: 1.1s;
}

.slide-show {
    animation-name: slide-show;
    animation-duration: 1.1s;
}

.slide-hide {
    animation-name: slide-hide;
    animation-duration: 1.1s;
}


@keyframes fade {
    from {
        transform: translateY(-10%);
        opacity: 0.1;
        box-shadow: 0 0 210px #ad2e2e;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        box-shadow: 0 0 0 #bb5b5b;
    }
}

@keyframes slide-show {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(-100%);
        opacity: 0.1;
    }
}

@keyframes slide-hide {
    from {
        transform: translateX(0);
        opacity: 1;
    }

    to {
        transform: translateX(100%);
        opacity: 0.1;
    }
}

.boxC {
    width: 60px;
    height: 50px;
    padding: 20px;
    border: 20px solid black;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: #393737;
}

.bix {
    width: 60px;
    height: 60px;
    background-color: coral;
}

.box__el1 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el2 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el3 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el4 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el5 {
    grid-column: 1 / 3;
    font-size: 25px;
    color: #c5bebe;
}

.bix {
    position: absolute;
    top: 50px;
    left: 50px;
}

.btn_active {
    background-color: black;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
}

.tabs {
    padding: 20px 40px;
    margin: 0 20px;
    text-align: center;
    background-color: #bd9b9b;
    cursor: pointer;
}

.tabs_active {
    background-color: #bb7474;
}

.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid red;
}

.content_show {
    display: block;
}

.content_hide {
    display: none;
}

.content span {
    margin-right: 10px;
    font-weight: 700;
    color: chocolate;
}

.dots {
    visibility: hidden;
}

.dots_show {
    visibility: visible;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
}

.timer span {
    padding-bottom: 7px;
    font-size: 50px;
    color: coral; 
}

.hours, .minutes, .seconds {
    margin: 0 5px;
    font-weight: 600;
    font-size: 50px;
    color: coral;
}

.slider {
    padding-top: 70px;
    padding-bottom: 70px;
}

.slider__wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 50%;
    margin: 0 auto;
}

.slider__item {
    max-width: 70%;
    min-height: 200px;
    padding: 15px;
    border: 2px solid rgb(65, 38, 161);
    background-color: #c5bebe;
}

.slider__prev, .slider__next {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    display: flex;
    align-items:center;
    justify-content: center;
    background-color: #c5bebe;
}

.slider__next {
    left: auto;
    right: 0;
}

.slider__arrow {
    width: 30px;
    height: 30px;
    background-color: rgb(125, 57, 57);
}

.slider__mark {
    font-size: 40px;
    color: rebeccapurple;
}

