
.fade {
    animation-name: fade;
    animation-duration: 1.1s;
}

@keyframes fade {
    from {
        transform: translateY(-10%);
        opacity: 0.1;
        box-shadow: 0 0 210px #ad2e2e;
    }

    to {
        transform: translateX(0);
        opacity: 1;
        box-shadow: 0 0 0 #bb5b5b;
    }
}

.boxC {
    width: 60px;
    height: 50px;
    padding: 20px;
    border: 20px solid black;
}

.box {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    justify-content: space-around;
    align-content: stretch;
    justify-items: center;
    align-items: center;
    padding: 20px;
    background-color: #393737;
}

.bix {
    width: 60px;
    height: 60px;
    background-color: coral;
}

.box__el1 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el2 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el3 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el4 {
    font-size: 25px;
    color: #c5bebe;
}

.box__el5 {
    grid-column: 1 / 3;
    font-size: 25px;
    color: #c5bebe;
}

.bix {
    position: absolute;
    top: 50px;
    left: 50px;
}

.btn_active {
    background-color: black;
}

.parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 650px;
    margin: 0 auto;
    margin-top: 20px;
}

.tabs {
    padding: 20px 40px;
    margin: 0 20px;
    text-align: center;
    background-color: #bd9b9b;
    cursor: pointer;
}

.tabs_active {
    background-color: #bb7474;
}

.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px;
    border: 2px solid red;
}

.content_show {
    display: block;
}

.content_hide {
    display: none;
}

.content span {
    margin-right: 10px;
    font-weight: 700;
    color: chocolate;
}

.dots {
    visibility: hidden;
}

.dots_show {
    visibility: visible;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 10px 0;
}

.timer span {
    padding-bottom: 7px;
    font-size: 50px;
    color: coral; 
}

.hours, .minutes, .seconds {
    margin: 0 5px;
    font-weight: 600;
    font-size: 50px;
    color: coral;
}

