nav ul {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.navItem {
    padding: 4px 10px;
    margin: 0 3px;
    background-color: rgb(114, 99, 93);
    border-radius: 10px;
    cursor: pointer;

    &_active {
        background-color: rgb(161, 149, 144);
    }
}

.wrapper {
    padding: 80px 20px;
}

.wrapper ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.offer {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    min-height: 220px;
    padding: 13px;
    animation: fadeIn 0.3s forwards;

    &__city {
        text-align: center;
        font-size: 14px;
    }

    &__id,  
    &__name, 
    &__info  {
        margin-top: 5px;
        margin-bottom: 0;
        padding: 6px;
        border-radius: 4px;
        font-size: 12px;
        background-color: rgb(133, 115, 115);
    }
}

.offer-counter {
    max-width: 100%;
    text-align: center;
    font-size: 26px;
    color: lightsalmon;
}
.sortList {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        margin-bottom: 5px;
        padding: 3px 4px;
    }
}