/* .app__button {
	border: 1px solid blue;

	&_green {
		background-color: green;
		animation: app__button-animate 2.6s 1s infinite linear;
	}
}
@keyframes app__button-animate {
	from {
		background-color: #fff;
	}

	to {
		background-color: green;
	}
} */
body {
	color: var(--bs-white);
}

a,
a:visited,
a:hover,
a:focus,
a:active {
	display: inline-block;
	padding: 3px 7px;
	border-radius: 7px;
	color: rgb(248, 222, 184);
	text-decoration: none;
	margin-left: 5px;
	margin-top: 5px;
	font-size: 18px;
	background-color: #717cf3;
}


