<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
    <body>
        <section class="header">
            <div class="header__menu header__menu_m-hidden">
                <nav class="header__nav">
                    <div class="header__wrap">
                        <div class="header__hamburger">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <div class="header__text">меню</div>
                    </div> 
                    <ul class="header__dropdown">
                        <li>Каталог</li>
                        <li>Аналитика</li>
                    </ul>
                </nav>
            </div>
            <div class="title">Lorem ipsum</div>
        </section>
        <script src="js/script.js"></script>
    </body>
</html>