<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>
    <body>
        <div class="box">
            <div class="box__inner">Lorem, ipsum dolor.</div>
            <div class="box__inner">
                <p class="box__p">Lorem, ipsum dolor.</p>
            </div>
            <div class="box__inner">Lorem, ipsum dolor.</div>
            <div class="box__inner">Lorem, ipsum dolor.</div>
        </div>
        <div class="box">
            <input type="text" class="box__input">
        </div>

        <div class="form-wrapper">
            <form class="feed-form">
                <input type="text" class="feed-form__input" name="user">
                <input type="text" class="feed-form__input" name="phone">
                <input type="text" class="feed-form__input" name="social">
                <input type="text" class="feed-form__input" name="review">
                <button class="feed-form__button">Отправить</button>
            </form>
        </div>
        <script src="js/script.js"></script>
    </body>
</html>