<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    </style>
    <link href="css/prism.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/style.min.css">
</head>
    <body>
        <div class="box" data-color-bg="blue-backgrond">
            <div class="box__inner">
                <div></div>
                Lorem, ipsum dolor.</div>
            <div class="box__inner">
                <div></div>
                <p class="box__p">Lorem, ipsum dolor.</p>
            </div>
            <div class="box__inner">
                <div></div>
                Lorem, ipsum dolor.</div>
            <div class="box__inner">
                <div></div>
                Lorem, ipsum dolor.</div>
        </div>
        <div class="box">
            <input class="box__input"></input>
        </div>
        <div class="form-wrapper">
            <form class="feed-form">
                <input type="text" class="feed-form__input" name="user" value="1" data-counter="1">
                <input type="text" class="feed-form__input" name="phone" value="2" data-counter="1">
                <input type="text" class="feed-form__input" name="social">  
                <input type="text" class="feed-form__input" name="review">
                <button class="feed-form__button">Отправить</button>
            </form>               
        </div>  
        <div class="scroll-box">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Facilis molestias provident quaerat voluptatum voluptatem 
            aut illum nemo quis, rerum optio autem fuga quos architecto 
            tempora tenetur ducimus et iusto ut obcaecati quas laborum.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Facilis molestias provident quaerat voluptatum voluptatem 
            aut illum nemo quis, rerum optio autem fuga quos architecto 
            tempora tenetur ducimus et iusto ut obcaecati quas laborum.
        </div>
        <div class="count-box">0</div>
        <section class="any-section">
            <div class="any-section__wrapper">
                <div class="any-section__item"> 
                    <object data="img/icon_card-heart.svg" type="image/svg+xml"></object>
                </div>
                <div class="any-section__item"><svg width="21" height="19" viewBox="0 0 21 19" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_274_880)">
                    <path d="M18.375 2.62245C16.3083 0.557816 12.9532 0.557816 10.8865 2.62245L10.5 3.00856L10.1135 2.62245C8.04677 0.557816 4.69171 0.557816 2.62499 2.62245C0.558272 4.68708 0.558272 8.03876 2.62499 10.1034L10.457 17.9276L10.5 17.8847L10.5429 17.9276L18.375 10.1034C20.4417 8.03876 20.4417 4.68708 18.375 2.62245Z" stroke="#336ABB" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_274_880">
                    <rect width="21" height="19" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg></div>
                <div class="any-section__item"></div>
            </div>
            <button type="button" class="any-section__button"><span>Click!</span></button>
        </section>
        <section class="new-section">
            <table class="new-section__table">
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>10</td>
                    <td>11</td>
                    <td>12</td>
                </tr>
            </table>
            <div class="clock">
                <div class="clock__hours">hh</div>
                <div class="clock__dots">:</div>
                <div class="clock__minutes">mm</div>
                <div class="clock__dots">:</div>
                <div class="clock__seconds">ss</div>
            </div>
            <div class="button-wrapper">
                <button class="button clock-start" type="button"><span>Start</span></button>
                <button class="button clock-stop" type="button"><span>Stop</span></button>
            </div>
        </section>
		<div class="spec-wrapper">
			<div class="right-scroll-block">
				<div class="inner">
					Lorem ipsum dolor sit amet  elit. Numquam, nisi itaque velit cupiditate 
					expedita possimus, animi ullam dolorum iusto quibusdam iure quos. 
					Cum aliquid consequatur iste quo ut voluptas quas reprehenderit totam enim quam amet rem, 
					nobis et labore, sequi placeat? Deleniti laborum assumenda quod pariatur quis 
					beatae repellat eaque!
				</div>
				<div class="right-scroll-block__btn">Tap</div>
			</div>
		</div>
        <section class="drop-menu" style="padding: 58px 0;">
            <div class="drop-menu__header"><span>▶</span><span>▼</span>Сладости (нажми меня)!</div>
            <ul>
              <li>Пирожное</li>
              <li>Пончик</li>
              <li>Мёд</li>
            </ul>
        </section>
        <section class="event-section">
            <div class="events">
                <div class="Event-item"><span>Event</span></div>
                <div class="Event-item" data-action="save">Event</div>
                <div class="Event-item" data-action="load">Event</div>
                <div class="Event-item" data-action="search">Event</div>
                <div class="Event-item" data-action="reload">Event</div>
            </div>
            <div>
                <a href="#my href" class="event-section__link" data-context="true">Link</a>
                <a href="#my href" class="event-section__link">Link</a>
                <a href="#my href" class="event-section__link" data-context="true">Link</a>
            </div>
            <ul class="event-list">
                <li>
                    <a href="" class="event-list__link">Click</a>
                    <ul class="event-list__context">
                        <li>Context1</li>
                    </ul>
                </li>
                <li>
                    <a href="" class="event-list__link">Click</a>
                    <ul class="event-list__context">
                        <li>Context2</li>
                    </ul>
                </li>
                <li>
                    <a href="" class="event-list__link">Click</a>
                    <ul class="event-list__context">
                        <li>Context3</li>
                    </ul>
                </li>
                <li>
                    <a href="" class="event-list__link">Click</a>
                    <ul class="event-list__context">
                        <li>Context4</li>
                    </ul>
                </li>
                <li>
                    <a href="" class="event-list__link">Click</a>
                    <ul class="event-list__context">
                        <li>Context5</li>
                    </ul>
                </li>

            </ul>
        </section>
        <section class="slider">
            <div class="slider__wrapper">
                <ul>
                    <li><img src="https://ru.js.cx/carousel/1.png"></li>
                    <li><img src="https://ru.js.cx/carousel/2.png"></li>
                    <li><img src="https://ru.js.cx/carousel/3.png"></li>
                    <li><img src="https://ru.js.cx/carousel/4.png"></li>
                    <li><img src="https://ru.js.cx/carousel/5.png"></li>
                    <li><img src="https://ru.js.cx/carousel/6.png"></li>
                    <li><img src="https://ru.js.cx/carousel/7.png"></li>
                    <li><img src="https://ru.js.cx/carousel/8.png"></li>
                    <li><img src="https://ru.js.cx/carousel/9.png"></li>
                    <li><img src="https://ru.js.cx/carousel/10.png"></li>
                </ul>
                <button class="arrow">⇦</button>
                <button class="arrow">⇨</button>
            </div>
        </section>
        <section class="menu">
            <button class="menu__button" data-action="save">Save</button>
            <button class="menu__button" data-action="load">Load</button>
            <button class="menu__button" data-action="search">Search</button>
        </section>
        <section class="test-target">
        <div class="parent" style="padding: 50px 50px; background-color: red;">Parent
            <ul style="padding: 20px 20px; background-color: rgb(255, 234, 0);"> Ul
                <li style="padding: 40px 40px; background-color: rgb(65, 33, 33);">Li
                    <a style="display: block; padding: 26px 92px; background-color: rgb(81, 0, 255);" href="">
                        <p style="width: 30px; padding: 11px 11px; background-color: rgb(255, 0, 98)">qqq</p>
                    </a>
                </li>
            </ul>
        </div>
        </section>
        <section class="mouse-event">
            <div class="mouse-event__wrapper">
                <div class="mouse-event__parent">
                    <p class="mouse-event__inner-p">Child</p>
                    <p class="mouse-event__inner-p">Child</p>
                    <p class="mouse-event__inner-p">Child<a href="">Child-link</a></p>
                </div>
                <div class="mouse-event__parent">
                    <p class="mouse-event__inner-p">Child</p>
                    <p class="mouse-event__inner-p">Child</p>
                    <p class="mouse-event__inner-p">Child<a href="">Child-link</a></p>
                </div>
                <div class="mouse-event__parent">
                    <p class="mouse-event__inner-p">Child</p>
                    <p class="mouse-event__inner-p">Child</p>
                    <p class="mouse-event__inner-p">Child<a href="">Child-link</a></p>
                </div>
            </div>
            <div id="tooltip" hidden>Подсказка</div>
        </section>
        <div class="any-div">Ball</div>
        <div class="ball"><span>New ball</span></div>
        <section class="some-items">
            <ul class="some-items__list" data-property = "any-ptoperty">
                <li tabindex="0" class="some-items__elem">Elem</li>
                <li tabindex="4" class="some-items__elem">Elem</li>
                <li tabindex="3" class="some-items__elem">Elem</li>
                <li tabindex="2" class="some-items__elem">Elem</li>
                <li tabindex="1"class="some-items__elem">Elem</li>
            </ul>
        </section>
        <section class="test-dropp">
            <div class="test-dropp__item"><span>Item</span></div>
            <div class="test-dropp__target"><span>Target</span></div>
        </section>
		<section class="form-section">
			<form action="" class="form-section__form" name="formName" id="thisIsFormId">
				<input type="text" class="form-section__input" name="one" id="one" data-test="!">
				<fieldset class="form-secton__fieldset">
					<input class="" type="text" name="fieldsetInput">
				</fieldset>
				<input type="file" class="form-section__input" name="two" id="two">
				<input type="text" class="form-section__input" name="three" id="three">
				<select name="selectName" id="" class="form-section__input form-section__select">
					<option class="">Option1</option>
					<option class="">Option2</option>
					<option class="">Option3</option>
				</select>
                <button>Submit!</button>
			</form>
            <div class="test-div"></div>
            <div class="test-div"></div>
            <div class="test-div"></div>
            <div class="test-div"></div>
            <div class="test-div"></div>
		</section>
        <section class="accordeon-section">
            <div class="accordeon">
                <div class="accordeon__item">
                    <div class="accordeon__click">Click</div>
                    <div class="accordeon__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nisi eligendi molestias deserunt 
                        libero numquam porro sint repellendus distinctio. 
                        Ex, dolore.
                    </div>
                </div>
                <div class="accordeon__item">
                    <div class="accordeon__click">Click</div>
                    <div class="accordeon__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nisi eligendi molestias deserunt 
                        libero numquam porro sint repellendus distinctio. 
                        Ex, dolore.
                    </div>
                </div>
                <div class="accordeon__item">
                    <div class="accordeon__click">Click</div>
                    <div class="accordeon__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nisi eligendi molestias deserunt 
                        libero numquam porro sint repellendus distinctio. 
                        Ex, dolore.
                    </div>
                </div>
                <div class="accordeon__item">
                    <div class="accordeon__click">Click</div>
                    <div class="accordeon__content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                        Nisi eligendi molestias deserunt 
                        libero numquam porro sint repellendus distinctio. 
                        Ex, dolore.
                    </div>
                </div>
        </section>
        <div class="item">Item</div>
		<div class="test-clock clock">
			<div class="test-clock__hours clock__hours" style="padding: 10px;">00</div>
			<div class="test-clock__minutes clock__minutes" style="padding: 10px;">00</div>
			<div class="test-clock__seconds clock__seconds" style="padding: 10px;">00</div>
		</div>
        <div class="link-wrap">
            <div class="" style="cursor: pointer; padding: 10px; margin-top: 10px;">link</div>
            <div class="" style="cursor: pointer; padding: 10px; margin-top: 10px;">link</div>
            <div class="" style="cursor: pointer; padding: 10px; margin-top: 10px;">link</div>
        </div>
        <div contenteditable="true" class="my-div"><i>My DIV</i><b style="display: inline-block; margin-left: 21px;">Bold</b></div>
        <div class="count" style="margin: 20px 0;"></div>
        <pre class="language-javascript">
            <code>let hello = "world";</code>
        </pre>
        <section class="dialog-section">
            <dialog class="dialog">
                <div class="dialog__inner-content">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi voluptatem eos quaerat molestias mollitia fuga dolorum eius vero ipsum nihil laudantium iure sequi autem consequatur sit dolorem sapiente nobis, corporis velit, deleniti, ut eveniet?
                </div>
            </dialog>
        </section>
        <iFrame class="iframe">Iframe</iFrame>
        <div class="any-item1">Item1</div>
        <div class="any-item2">Item2</div>
        <img style="width: 100px; height: 101px;" class="canvas__img" src="img/icon_card-heart.svg" alt="facebook">
        <canvas id="canvas" style="border:1px solid"></canvas>

        <button class="submit-button" type="submit">Submit</button>
            <div class="any-section__frop-ball">
                drop-ball
            </div>
        <section class="tabs-section">
            <div class="tabs-section__wrapper">
                <div>
                    <div class="tabs-section__tabs"><span>Tab</span></div>
                    <div class="tabs-section__tabs"><span>Tab</span></div>
                    <div class="tabs-section__tabs"><span>Tab</span></div>
                </div>
                <div>
                    <div class="tabs-section__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nostrum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Recusandae sapiente aliquam, dolore, reiciendis eius,
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, alias.
                        amet exercitationem suscipit nemo ab saepe illum! <span>1</span> 
                    </div>
                    <div class="tabs-section__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nostrum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Recusandae sapiente aliquam, dolore, reiciendis eius,
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, alias.
                        amet exercitationem suscipit nemo ab saepe illum! <span>2</span>
                    </div>
                    <div class="tabs-section__content">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, nostrum.
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Recusandae sapiente aliquam, dolore, reiciendis eius,
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat, alias.
                        amet exercitationem suscipit nemo ab saepe illum! <span>3</span>
                    </div>
                </div>
            </div>
            <section class="table">
                <table>
                    <thead>
                        <tr>
                        <th colspan="3">First</th>
                        <th>Second</th>
                        <th>Third</th>
                        <th>Fourth</th>
                        <th>Fiveth</th>
                    </tr>
                    </thead>
                    <tr>
                        <td colspan="3">1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td rowspan="2">6</td>
                        <td colspan="2">7</td>
                        <td>9</td>
                        <td>10</td>
                        <td>10</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td colspan="2">11</td>
                        <td>13</td>
                        <td>14</td>
                        <td>15</td>
                        <td>15</td>
                    </tr>
                </table>
            </section>
        </section>
        <section class="select-section">
            <select name="select" id="select" class="select-section__select" style="margin-bottom: 43px;">
                <option value="Sidnay" class="select-section__option">Sidnay</option>
                <option value="London" class="select-section__option">London</option>
                <option value="Moscow" class="select-section__option">Moscow</option>
                <option value="Kiew" class="select-section__option">Kiew</option>
                <option value="Simferopol" class="select-section__option">Simferopol</option>
            </select>
        </section>
        <textarea name="textarea" id="textarea"></textarea>

        <div class="digit-window">
            <div class="numbers">0123456789
                <div class="deepest"></div>
            </div>
        </div>
        <!-- <time-formatter year="numeric" month="numeric" day="numeric" hour="numeric" minute="numeric"
        second="numeric" class="time-formatter"></time-formatter>  -->
        
        <live-timer id="elem">
            <!-- <time-formatted hour="numeric" minute="numeric" second="numeric" datetime=""></time-formatted> -->
        </live-timer>

        <script src="js/prism.js" data-manual></script>
        <script type="module" src="js/module.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/idb@8/build/umd.js"></script>
        
        <script src="js/script.js"></script>
    </body>
</html>
