.feed-form {
    padding-top: 50px;

    &__form {
        display: grid;
        grid-template-columns: repeat(2, 30%);
        grid-template-rows: repeat(3, 40px) minmax(100px, auto);
        grid-auto-rows: 1fr;
        column-gap: 20px;
        row-gap: 10px;
        justify-content: flex-start;

        input {
            padding: 10px 40px 10px 10px;
            outline: none;
        }
    }

    &__textarea {
        grid-column: 1 / 3;
        padding: 10px 40px 10px 10px;
        outline: none;
    }

    &__outputWrap {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }

    &__output {
        width: 265px;
        margin-top: 10px;
    }
}