.slide {
    padding-top: 60px;
}

.slider {
    width: 50%;
    margin: 0 auto;

    &__wrapper {
        position: relative;
    }

    &__next, &__prev {
        display: flex;
        align-items: center;
        justify-content: center; 
        position: absolute;
        width: 50px;
        height: 50px;
        border: 1px solid coral;
    }

    &__prev {
        top: 50%;
        left: 0;
        transform: translateX(-50%);
    }

    &__next {
        top: 50%;
        right: 0;
        transform: translateX(-50%);
    }

    &__circle {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        background-color: rebeccapurple;
    }
}

.tns-item {
    height: 400px;
    
    img {
        display: block;
        width: auto;
        height: 100%; 
        margin: 0 auto;
    }
}

/* .tns-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 18px 0;

    button {
        width: 23px;
        height: 23px;
        padding: 10px;
        margin: 0 20px;
        background-color: rgb(219, 136, 136);
        border-radius: 100%;
    }
} */