* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {           /* Псевдокласс для назначения переменных. Переменные, заданные тут, можно применять ко всей странице. */
    --text-color: rgb(255, 0, 195);  
    --big-text: 30px;     
}

h1 {
    margin: 20px;
}

.element {
    width: 500px;
    margin: 20px;
    color: var(--text-color, red); /* -так, если по каким то причинам переменная не применилась, то присениться значение " red". */

    
}
.wrapper {
    /* --text-color: blue;  */  /* задаём переменную. */ /* эта переменная будет работать только для".wrapper" или элементов внутри ".wrapper" */
    color: var(--text-color);    /* применяем переменную к элементу. */
    font-size: var(--big-text);
}

@media (max-width: 1200px) {   /* приимущество css переменных, что они работают непосредсвенно в браузере без препроцов */
    :root {                  /*  а значит ими можно пользоваться в адаптации. */
        --text-color: rgba(2, 62, 25, 0.664);  
        --big-text: 50px;     
    }
}