/* .app__button {
	border: 1px solid blue;

	&_green {
		background-color: green;
		animation: app__button-animate 2.6s 1s infinite linear;
	}
}
@keyframes app__button-animate {
	from {
		background-color: #fff;
	}

	to {
		background-color: green;
	}
} */

body {
	color: var(--bs-white);
	font-family: 'Gerbera';
	text-align: center;
	background-color: rgb(1, 54, 104);

	nav {
		padding: 14px 0;
		background-color: rgb(39, 93, 143);

		a {
			margin-right: 10px;
		}
	}
}

nav a.activeLink {
	color: lightcoral;
	text-decoration: none;
}

.courses-list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	max-width: 24%;
	margin: 0 auto;
	margin-top: 30px;

	a {
		margin-top: 5px;
		color: unset;
		text-decoration: none;
	}
}

.single-course {
	max-width: 40%;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;

	h2 {
		margin: 17px 0;
	}
}
